---
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import ItemGrid from '~/components/ui/ItemGrid.astro';
import Headline from '~/components/ui/Headline.astro';
import type { Features as Props } from '~/types';

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline = await Astro.slots.render('tagline'),
  items = [],
  columns = 2,
  defaultIcon,
  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props;
---

<WidgetWrapper id={id} isDark={isDark} containerClass={`max-w-5xl ${classes?.container ?? ''} mb-8`} bg={bg}>
  <Headline title={title} subtitle={subtitle} tagline={tagline} classes={classes?.headline as Record<string, string>} />
  <div class="mt-25">
    <ItemGrid
      items={items}
      columns={columns}
      defaultIcon={defaultIcon}
      classes={{
        container: 'gap-10' /* Adjust gap between cards */,
        item: 'flex items-center' /* Ensure items are aligned centrally vertically */,
        icon: 'text-cyan-800 bg-white border-2 border-cyan-800 rounded-full w-16 h-16 p-4 md:w-20 md:h-20 md:p-6 mr-4 rtl:ml-4 rtl:mr-0',
        content: 'flex flex-col' /* Group title and description together */,
        title: 'md:text-[1.5rem]',
        description: 'text',
        ...((classes?.items as Record<string, never>) ?? {}),
      }}
    />
  </div>
</WidgetWrapper>
