---
import { Icon } from 'astro-icon/components';
import Button from '~/components/ui/Button.astro';
import Headline from '~/components/ui/Headline.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import type { Pricing as Props } from '~/types';

const {
  title = '',
  subtitle = '',
  tagline = '',
  prices = [],

  id,
  isDark = false,
  classes = {},
} = Astro.props;

const bg = await Astro.slots.render('bg');
---

<WidgetWrapper id={id} isDark={isDark} containerClass={`max-w-5xl mx-auto ${classes?.container ?? ''}`} bg={bg}>
  <!-- Headline Section -->
  <Headline title={title} subtitle={subtitle} tagline={tagline} />

  <!-- Pricing Table -->
  <div class="flex items-center justify-center mt-4">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 gap-4 dark:text-gray-200">
      <!-- PAY AS YOU PLAY Pricing -->
      <div class="w-full bg-white text-black rounded-lg shadow-md p-4 text-center border border-gray-200">
        <h3 class="text-2xl font-bold mb-2">PAY AS YOU PLAY</h3>
        <div class="flex flex-col items-center space-y-2">
          <h2 class="text-3xl font-semibold">£37.50</h2>
          <span class="text-base text-gray-500">/ hour</span>
          <h2 class="text-lg font-normal mt-2">or</h2>
          <h2 class="text-xl font-semibold">£22.50</h2>
          <span class="text-base text-gray-500">/ 30 mins</span>
        </div>
        <p class="text-base text-gray-500 mt-4">For single lesson bookings, simply book online, pay, and play!</p>
        <Button text="BOOK NOW" variant="primary" href="/book-now" class="w-full mt-2" />
      </div>

      <!-- Block Booking Pricing -->
      <div class="w-full bg-green-100 text-black rounded-lg shadow-md p-4 text-center border border-gray-200">
        <h3 class="text-2xl font-bold mb-2">Block Booking</h3>
        <div class="flex flex-col items-center space-y-2">
          <p class="text-3xl font-semibold">£37.5</p>
          <span class="text-base text-gray-500">for 60 mins</span>
          <p class="text-xl font-medium">£28.13</p>
          <span class="text-base text-gray-500">for 45 mins</span>
          <p class="text-lg font-normal">£18.75</p>
          <span class="text-base text-gray-500">for 30 mins</span>
        </div>
        <p class="text-base text-gray-500 mt-4">Get discounts when you book in bulk</p>
        <Button text="BOOK NOW" variant="primary" href="/contact" class="w-full mt-2" />
      </div>

      <!-- Pay-As-You-Go Pricing -->
      <div class="w-full bg-white text-black rounded-lg shadow-md p-4 text-center border border-gray-200">
        <h3 class="text-2xl font-bold mb-2">Pay As You Go</h3>
        <div class="flex flex-col items-center space-y-2">
          <p class="text-3xl font-semibold">£40</p>
          <span class="text-base text-gray-500">for 60 mins</span>
          <p class="text-xl font-medium">£30</p>
          <span class="text-base text-gray-500">for 45 mins</span>
          <p class="text-lg font-normal">£20</p>
          <span class="text-base text-gray-500">for 30 mins</span>
        </div>
        <p class="text-base text-gray-500 mt-4">No commitment, pay as you go</p>
        <Button text="BOOK NOW" variant="secondary" href="/contact" class="w-full mt-2" />
      </div>
    </div>
  </div>

  <!-- Additional Pricing Details or Section (if applicable) -->
  <div class="mt-8">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-4">
      {
        prices &&
        prices.map(({ title, subtitle, price, period, items, callToAction }) => (
          <div class="col-span-1 flex justify-center">
            <div class="rounded-lg bg-white dark:bg-slate-900 shadow p-4 w-full max-w-sm text-center">
              <h3 class="text-lg font-semibold mb-2">{title}</h3>
              {subtitle && <p class="font-light text-gray-600 dark:text-slate-400 mb-2">{subtitle}</p>}
              <div class="text-2xl font-bold mb-2">{price}</div>
              <span class="text-base text-gray-500">{period}</span>
              {items && (
                <ul class="my-4 space-y-1 text-left">
                  {items.map(({ description, icon }) => description && (
                    <li class="mb-1 flex items-start space-x-2">
                      <div class="rounded-full bg-primary p-1 text-white">
                        <Icon name={icon || 'tabler:check'} class="w-4 h-4" />
                      </div>
                      <span>{description}</span>
                    </li>
                  ))}
                </ul>
              )}
              {callToAction && (
                <Button {...callToAction} variant="primary" class="mt-2 w-full" />
              )}
            </div>
          </div>
        ))
      }
    </div>
  </div>
</WidgetWrapper>
