---
import WidgetWrapper from '../ui/WidgetWrapper.astro';
import Headline from '../ui/Headline.astro';

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline,
  testimonials = [], // Array of testimonials
  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg-card'),
} = Astro.props;
---
<WidgetWrapper
  id={id}
  isDark={isDark}
  containerClass={`max-w-6xl mx-auto ${classes?.container ?? ''}`}
  bg={bg}
>
  <Headline title={title} subtitle={subtitle} tagline={tagline} />

  <!-- Testimonials -->
  <div class="flex flex-stretch justify-center gap-8">
    {testimonials.map(({ text, name, role, rating }) => (
      <div class="p-4 md:w-1/3 sm:w-1/2 w-full min-w-[220px] text-center bg-white border shadow-lg rounded-lg">
        <!-- Star Rating -->
        <div class="flex justify-center mb-4">
          {Array.from({ length: 5 }).map((_, i) => (
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill={i < rating ? 'currentColor' : 'none'}
              stroke="currentColor"
              class={`text-yellow-500 ${i < rating ? '' : 'text-gray-300'}`}
            >
              <path d="M12 .587l3.668 7.431 8.2 1.193-5.917 5.774 1.396 8.15L12 18.897 5.653 23.135l1.396-8.15L1.132 9.211l8.2-1.193L12 .587z" />
            </svg>
          ))}
        </div>

        <!-- Testimonial Text -->
        <p class="mb-4 text-lg italic text-black">“{text}”</p>

        <!-- Author Details -->
        <div>
          <h6 class="font-bold text-black">{name}</h6>
          <span class="text-sm text-black">{role}</span>
        </div>
      </div>
    ))}
  </div>

  <!-- Trustpilot Section -->
  <div class="flex flex-col justify-center items-center my-6">
    <span class="text-lg font-semibold text-white">
      Read our reviews on
    </span>
    <a href="https://uk.trustpilot.com/review/tempomobile.co.uk" target="_blank" class="flex items-center">
      <div class="p-2 bg-white border shadow-lg rounded-lg">
        <img
          src="/src/assets/images/trustpilot-1.svg"
          alt="Trustpilot"
          class="h-12"
        />
      </div>
    </a>
  </div>
</WidgetWrapper>